.sidebar-container{

  width:260px;

  min-width:260px;

  height:100vh;

  position:sticky;

  top:0;

  background:white;

  overflow-y:auto;

  z-index:1000;
}



.sidebar-logo-section{

  display:flex;

  align-items:center;

  gap:16px;

  margin-bottom:24px;
}

.sidebar-logo-icon{

  width:64px;

  height:64px;

  border-radius:20px;

  background:
  linear-gradient(to right,#ff6b00,#ff8c42);

  display:flex;

  align-items:center;

  justify-content:center;

  font-size:30px;

  color:white;

  box-shadow:
  0 8px 18px rgba(255,107,0,0.25);
}

.sidebar-logo-section h2{

  margin:0;

  font-size:24px;

  font-weight:700;

  color:#eb410f;
}



.admin-badge{

  display:inline-block;

  background:#fff1e8;

  color:#ff6b00;

  padding:10px 18px;

  border-radius:30px;

  font-size:14px;

  font-weight:600;

  margin-bottom:30px;
}



.sidebar-menu{

  border:none !important;

  background:transparent !important;
}



.sidebar-menu .ant-menu-item{

  height:54px !important;

  display:flex !important;

  align-items:center !important;

  border-radius:16px !important;

  margin-bottom:12px !important;

  font-size:17px;

  font-weight:500;
}


.sidebar-menu .ant-menu-item-selected{

  background:
  linear-gradient(to right,#ff4d00,#ff6b00) !important;

  color:white !important;

  box-shadow:
  0 8px 18px rgba(255,107,0,0.25);
}

.sidebar-menu .ant-menu-item-selected .anticon{

  color:white !important;
}



.sidebar-menu .anticon{

  font-size:18px;
}